body{
    margin:0;
    font-family:system-ui;

}
.parallax, .parallax1{
    background-image:url('images/background.jpg');
    height:max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.page-title{
    background:rgba(0, 0, 0, 0.5);
    text-align: center;
    color:white;
    padding: 50px;
    font-variant: small-caps;
    font-size:100px;
    font-family: fantasy;
    letter-spacing: 20px;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}
.menu{
    background: #184d47;
    text-align: center;
}
.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
}
.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}
.a-menu, .a-links{
    text-decoration: none;
    color:white;
}
.menu-ul li:hover{
    background:#5b8c5a;
    transform: scale(1.1) ;
}
.search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin:8px;
}
.search-box:hover{
    box-shadow: 0 0 10px 2px #5b8c5a;
    border: 1px solid #5b8c5a;
}
.search-input{
    width: 250px;
    border:none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 10px 5px 5px 10px;
}
i{
    font-size: 20px;
    margin: 0 10px 0 0;
}
button{
    background: transparent;
    border: none;
    outline: none;
}
.container, .deals-container{
    margin: 50px 50px 5%;
    width: 90%;
    text-align: center;
}
.categories, .items{
    width: max-content;
    margin:25px;
    border: 1px solid #184d47;
    display: inline-block;
}
.categories:hover, .items:hover{
    box-shadow: 0 0 10px 3px #184d47;
}
.item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}
.item-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.title{
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.deal{
    padding: 50px;
    font-size:20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg,#16817a 20%,#cee397 50%,#16817a 80%);
}
/* .radio{
    display: none;
}
.deal-container{
    position: relative;
    max-width: 90%;
    margin: 5% auto;
}
.slider{
    width: 100%;
    position: relative;
    height: 500px;
    box-shadow: 00 0 40px rgb(0, 0,0, 0.8);
    display: flex;
    overflow: hidden;

}
.content{
    position: absolute;
    width:100%;
    left: 5%;
    top: 20%;
    font-weight: 500;
    font-size:40px;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.coupon-btn{
    border: 1px solid black;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.coupon-btn:hover{
    box-shadow: 0 0 10px 5px white inset;
}
/* .dots{
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots label{
    width: 15px;
    height: 15px;
    background: black;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dots label:hover{
    opacity: 0.7;
}

#radio-1:checked ~ #slider-1,
#radio-2:checked ~ #slider-2,
#radio-3:checked ~ #slider-3{
    opacity:1
} */
.images{
    display: inline-block;
}
.item-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
}
.description{
    margin: 20px;
    max-height: 100px;
}
.item-select {
    margin: 10px 0 0 0;
}
.buynow-btn{
    border: 1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius:20px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}
.buynow-btn:hover{
    border: 1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a inset;
}

.parallax1{
    background-image: url('images/footer.jpg');
}
.footer{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}
.quick-links{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
}
.quick-links ul{
    padding: 0;

}
.quick-links li{
    list-style: none;
    padding: 10px;
    font-weight: 300;
}
.a-links:hover{
    color: #fd5e53;
}
.copyrights{
    font-size:16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:15px;
}
.container1 {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}
.cart-row1 {
    display: flex;
    background-color: #184d47;
    padding-left: 10px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-price1{
    width: 20%;
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase1 {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.btn1 {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-primary1 {
    color: white;
    background-color: #184d47;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary1:hover {
    background-color: #2D9CDB;
}
.btn-danger1 {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger1:hover {
    background-color: #CC4C4C;
}